# Node template
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# IntelliJ project files
.idea
*.iml
out
gen

# Data definition files
**/*.d.ts

# Map files
**/*.map.js

# Only lint ts files
**/*.js
**/*.js.map
**/*.mjs
**/*.mjs.map

# Don't lint node_modules
/node_modules
node_modules
./node_modules

# Don't lint build output (make sure it's set to your correct build folder name)
dist

# Don't lint the config files
.eslintignore
.eslintrc.cjs
.stylelintrc
.travis.yml
cypress.json
ecosystem.config.js

# Don't lint the changelog
CHANGELOG.md

# Don't lint nyc coverage output
coverage

# Don't lint the runtime data
pids
*.pid
*.seed
*.pid.lock

# Don't lint the Grunt intermediate storage
.grunt

# Don't lint the Bower dependency directory
bower_components

# Don't lint the node-waf configuration
.lock-wscript

# Don't lint the Compiled binary addons
build/Release

# Don't lint the Dependency directories
node_modules/
jspm_packages/

# Don't lint the Snowpack dependency directory
web_modules/

# Don't lint the TypeScript cache
*.tsbuildinfo

# Don't lint the Optional npm cache directory
.npm

# Don't lint the Optional eslint cache
.eslintcache

# Don't lint the Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Don't lint the Optional REPL history
.node_repl_history

# Don't lint the Output of 'npm pack'
*.tgz

# Don't lint the Yarn Integrity file
.yarn-integrity

# Don't lint the dotenv environment variables file
.env
.env.test

# Don't lint the parcel-bundler cache
.cache
.parcel-cache

# Don't lint the Next.js build output
.next
out

# Don't lint the Nuxt.js build / generate output
.nuxt
dist

# Don't lint the Gatsby files
.cache/

# Don't lint the vuepress build output
.vuepress/dist

# Don't lint the Serverless directories
.serverless/

# Don't lint the FuseBox cache
.fusebox/

# Don't lint the DynamoDB Local files
.dynamodb/

# Don't lint the TernJS port file
.tern-port

# Don't lint the Stores VSCode versions used for testing VSCode extensions
.vscode-test

# Don't lint the yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
